<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <a href="/"><h1><%= title %></h1></a>
        <div class="header-btns">
            <a href="/genres"><button>GENRES</button></a>
            <a href="/movies"><button>MOVIES</button></a>
        </div>
    </div>
    <div class="main-content">
        <div class="genre-top">
            <h1>All Genres</h1>
        </div>
        <div class="genre-list-container">
            <ul class="genre-list">
                <% genres.forEach((genre, index) => { %>
                    <li class="genre-entry">
                        <a href="/genres/<%= encodeURIComponent(genre.name.toLowerCase().replace(/\s+/g, '-')) %>" class="genre-card-link">
                            <button class="genre-card-btn">
                                <div class="genre-card">
                                    <img src="<%= genre.posterurl %>" alt="Genre poster for <%= genreNames[index] %>" class="genre-img">
                                    <div class="genre-name"> <%= genreNames[index] %></div>
                                </div>
                            </button>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>