<html></html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <a href="/"><h1><%= title %></h1></a>
        <div class="header-btns">
            <a href="/genres"><button>GENRES</button></a>
            <a href="/movies"><button>MOVIES</button></a>
        </div>
    </div>
    <div class="main-content">
        <div class="genre-top">
            <h1 class="genre-header"><%=genreName%> Movies</h1>
        </div>
        <div class="movie-list-container">
            <ul class="movie-list">
                <% movies.forEach((movie) => { %>
                    <li class="genre-entry">
                        <a href="/movies/<%= encodeURIComponent(movie.name.toLowerCase().replace(/\s+/g, '-')) %>" class="movie-card-link">
                            <button class="movie-card-btn">
                                <div class="movie-card">
                                    <img src="<%= movie.posterurl %>" alt="Movie poster for <%= movie.name %>" class="movie-img">
                                    <div class="movie-name"> <%= movie.name %></div>
                                </div>
                            </button>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>