<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <h1><%= title %></h1>
        <div class="header-btns">
            <a href="/genres"><button>GENRES</button></a>
            <a href="/movies"><button>MOVIES</button></a>
        </div>
    </div>
    <div class="main-content-showcase">
        <div class="movie-content">
            <h1 class="movie-name-showcase"><%= movie.name %></h1>
            <div class="movie-info-top">
                <div class="movie-info-top-left">
                    <p class="movie-year"><%= movie.releaseyear %></p>
                    <p>•</p>
                    <p class="movie-playtime"><%= runtime %></p>
                </div>
                <div class="movie-info-top-right">
                    <p class="imdb">IMDb RATING</p>
                    <p class="movie-rating">
                        <img src="/icons/star.png" alt="star-icon" class="star-icon">
                        <span class="rating-number"><%= movie.rating %></span> <span class="rating-total">/10</span>
                    </p>
                </div>
            </div>
            <div class="movie-visuals-container">
                <img src="<%= movie.posterurl %>" alt="Movie poster for <%= movie.name %>" class="movie-img-showcase">
                <iframe 
                    width="770" 
                    height="400" 
                    src="https://www.youtube.com/embed/8ugaeA-nMTc" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
            <div class="movie-info-bottom">
                <div class="genres-desc">
                    <ul class="movie-genres">
                        <%genres.forEach((genre) => { %>
                            <li><button><%= genre %></button></li>
                        <% }) %>
                    </ul>
                    <p class="movie-desc"><%= movie.description %></p>
                </div>
                <div class="edit-movie-btns">
                    <button class="update-btn">Update Movie</button>
                    <form action="/movies/<%= movie.name.replace(/\s+/g, '-') %>/delete" method="POST">
                        <button class="delete-btn" type="submit">Delete Movie</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>